.topbar, h1 {
  text-align: center;
}

.topbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto; /* center topbar */
  text-align: center; 
}

.target-img {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input, button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%; 
  max-width: 400px;
  margin: 0 auto; /* centers inputs and btns */
}

input {
  background-color: rgb(238, 233, 233);
  color: black;
}

button {
  background-color: #6a4c9c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5c42a3;
}

.search-bar {
  margin-top: 10px;
}

input[type="text"], input[type="number"] {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
}

button {
  width: auto;
  max-width: 200px; 
  margin-top: 10px;
}
